@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

/* ANOTHER */

.page {
	font-family: 'Orbitron', sans-serif;
	background: rgb(0,212,255);
	background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(9,9,121,1) 77%, rgba(2,0,36,1) 100%);}

a {
	color: #fff;
	text-decoration: none;
}

/* HEADER */

.header {
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 40px;
	font-size: 18px;
	color: #fff;
	text-shadow: 0 0 5px #fff;
}

.header-menu {
	width: 40vw;
}

.header-menu-ul {
	display: flex;
	justify-content: space-between;
}

.header-menu-ul-li {
	display: inline-block;
}

.header-header {
	font-family: 'Bangers', cursive;
	font-size: 30px;
}

/* MAIN */

.main {
	height: calc(100vh - 120px);
	display: flex;
	align-items: center;
}

.main-form {
	margin: 0px 40px;
	width: 500px;
	padding: 20px;
	box-sizing: border-box;
	background-color: #fff;
	opacity: 80%;
}

input, label, select {
	outline: none;
	display: block;
	width: 100%;
	box-sizing: border-box;
	text-transform: uppercase;
	font-family: 'Orbitron', sans-serif;
}

input, select {
	margin-bottom: 25px;
	height: 30px;
	border: none;
	border-bottom: 1px solid #333;
}

input[type="submit"] {
	border: 1px solid #333;
	height: 40px;
	margin-bottom: 0px;
	font-size: 15px;
}

input[type="submit"]:hover {
	color: #fff;
	background-color: #00d4ff;
	text-shadow: 0 0 5px #fff;
	font-weight: bold;
	cursor: pointer;
}

label {
	margin-bottom: 6px;
}

/* FOOTER */

.footer {
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 40px;
	color: #fff;
	text-shadow: 0 0 5px #fff;
}
