@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300;700&display=swap');

body {
	font-family: 'Spartan', sans-serif;
}

form {
	width: 300px;
	height: 200px;
	display: flex;
	margin: 100px auto;
}

fieldset {
	margin: 30px auto;
}

label, input {
	text-align: center;
	margin: 20px auto;
	display: block;
	font-family: 'Spartan', sans-serif;
	outline: none;
	border: none;
}

label {
	font-size: 40px;
}

input {
	width: 100%;
	box-sizing: border-box;
}

input[type=text] {
	border: 1px solid #e3e3e3;
	color: black;
	height: 40px;
	font-size: 20px;
}

input[type="submit"] {
	font-size: 18px;
	height: 40px; 
}

input[type="submit"]:hover {
	cursor: pointer;
	color: #fff;
	background-color: #333;
}

h1 {
	font-size: 40px;
	text-align: center;
}

.wind {
	margin-top: 40px;
}