@import url(reset.css);

.outer {
	height: 300px;
	width: 80%;
	background-color: violet;
	margin: auto;
	display: flex;
}

.inner {
	height: 100px;
	width: 50%;
	background-color: #333;
	margin: auto;
}

.round {
	height: 100px;
	width: 100px;
	background-color: blue;
	border-radius: 50%;
	margin: auto;
}

.popup {
	position: fixed;
	height: 100px;
	width: 100px;
	border: 1px solid #333;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}