@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* MAIN */

* {
    box-sizing: border-box;
}

body {
    background-color: #000;
    color: #fff;
}

/* HEADER-CONTAINER */

.header-logo a {
    text-decoration: none;
    color: #1de9b6;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    letter-spacing: -0.9px;
}

.header-logo a:hover {
    color: #fff;
}

.main-menu ul {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    display: flex;
}

.main-menu__item {
    list-style-type: none;
    margin-right: 2rem;
}

.main-menu__item a {
    text-decoration: none;
    color: #848484;
}

.main-menu__item a:hover {
    color: #fff;
}

.main-content {
    font-family: 'Inter', sans-serif;
}

.main-content-header {
    font-weight: 700;
    font-size: 50px;
}

.main-content-text {
    font-weight: 400;
    font-size: 20px;
    color: #cfd8dc;
}

.main-content-box {
    padding-top: 30px;
    display: flex;
}

.main-content-button {
    margin: auto;
    font-weight: 400;
    color: #000;
    background-color: #1de9b6;
    height: 45px;
    width: 200px;
    border-radius: 6px;
    display: flex;
    box-shadow: 0px 5px 15px -1px #1de9b6;
    transition: .1s ease-in-out;
}

.main-content-button p {
    margin: auto;
}

.main-content-button:hover {
    cursor: pointer;
    box-shadow: 0px 5px 20px -1px #1de9b6;
    color: #fff;
    transition: .1s ease-in-out;
}