*{
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.logo h1 {
    margin: 0;
}

.logo__link {
    text-decoration: none;
    font-size: 2.5rem;
}

.main-menu ul {
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
    display: flex;
}

.main-menu__item {
    list-style-type: none;
    margin-right: 1rem;
}

.main-menu__item a {
    text-decoration: none;
}